<h2>My Heroes</h2>
<div>
  <label>Nom héros
    <input #heroName />
  </label>
  <label>Vrai nom héros
    <input #heroTrueName />
  </label>
  <button (click)=add(heroName.value,heroTrueName.value); heroName.value='' heroTrueName.value=''>
    Ajouter héros
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let superhero of heroes">
    <a routerLink="/detail/{{superhero.id}}">
      <span class="badge">{{superhero.id}}</span> {{superhero.name}}
    </a>
    <button class="delete" title="effacer heros"
    (click)=delete(superhero)>
      supprimer
    </button>
  </li>
</ul>
